.inquire-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    padding: 2% 0px;
}

input {
    width: 90%;
    height: 50px;
}

button {
    width: 90%;
}

textarea {
    width: 90%;
    height: 100px;
}

.contactCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    width: 50%;
    height: 400px;
}

@media (max-width: 992px) {
    .contactCard {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .contactCard {
        width: 80%;
    }
}