h1 {
    color: #a0a0a0;
}

h3 {
    color: #4d4d4d;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(10,56,115,0.98) 30%, rgba(8,12,38,1) 100%);
    border-top: #080C26 solid 6px;
    height: 80px;
    width: 100%;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 50%;
}

footer ul a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 20px;
}

.wrapText img {
    width: 25%;
    float: right;
    margin: 5px;
}

.wrapText p {
    text-align: justify;
    font-size: 1.5rem;
    color: #a0a0a0;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.92) 0%, rgba(10,56,115,0.97) 28%, rgba(8,12,38,0.92) 100%);
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}