input {
    width: 90%;
    height: 50px;
    border: #080C26 solid 2px;
    border-radius: 5px;
}

button {
    width: 90%;
}

textarea {
    width: 90%;
    height: 100px;
    border: #080C26 solid 2px;
    border-radius: 5px;
}

.contactCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    background-color: #0A3873;
    border: #080C26 solid 4px;
    border-radius: 1px;
    width: 50%;
    height: 400px;
}