header {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(10,56,115,0.98) 68%, rgba(8,12,38,1) 100%);
    border-bottom: #080C26 solid 6px;
}

header h1 {
    color: #a0a0a0;
    padding-top: 1%;
    padding-left: 1%;
}

header ul {
    width: 92vw;
    display: flex;
    justify-content: end;
}

header h1 p {
    color: #a0a0a0;
    font-size: 16px;
}

.nav-item {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    padding: 0 2.5%;
}

.nav-item a {
    color: #a0a0a0;
}