header {
    background: linear-gradient(90deg, rgba(0,0,0,0.97) 0%, rgba(10,56,115,1) 68%, rgba(8,12,38,0.97) 100%);
    border-bottom: #080C26 solid 6px;
}

header ul {
    width: 92vw;
    display: flex;
    justify-content: end;
}

.nav-item {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    padding: 0 2.5%;
}

.nav-item a {
    color: #a0a0a0;
}