.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    padding-top: 2%;
}

.aboutText {
    width: 75%;
    height: fit-content;
}

.aboutText img {
    width: 20%;
    float: left;
    margin: 5px;
}

.aboutText p {
    text-align: justify;
    font-size: 1.4vw;
    color: var(--fontgray);
}

@media screen and (max-width: 992px) {
    .aboutText {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;

    }
}

@media screen and (max-width: 575px) {
    h1, h3 {
        text-align: center;
    }

    .aboutText img {
        width: 33%;
    }

    .aboutText p {
        font-size: 1rem;
    }
}