:root{
    /* Theme color variables */
    --color1: #262626;
    --color15: #404040;
    --color2: #2F4673;
    --color3: #1F6D8C;
    --color4: #03A6A6;
    --color5: #04BFAD;
    --color6: #adffff;
    --color7: #034C8C;
    --fontgray: #c0c0c0;
    --black: #000;
}

h1 {
    font-family: 'Prosto One', cursive;
    color: var(--color6);
}

h3 {
    font-family: 'Prosto One', cursive;
    color: var(--color4);
}