.wrapText {
    margin-top: 200px;
    width: 50%;
    height: fit-content;
}

.smallHeading {
    text-align: center;
    font-size: 2rem;
    color: var(--color4);
}

.largeHeading {
    text-align: center;
    font-family: 'Prosto One', cursive;
    font-size: 5rem;
    color: var(--color6);
}

@media screen and (max-width: 992px) {
    .wrapText {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    h1, h3 {
        text-align: center;
    }

    .wrapText img {
        width: 33%;
    }

    .wrapText p {
        font-size: 1rem;
    }
}