.work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    width: 100%;
}

.work-row {
    background-color: var(--color17);
}

.stack-description {
    display: flex;
    align-items: center;
}

.stack-description h1 {
    color: var(--black);
}

.stack-description-icon {
    color: var(--color6);
    font-size: 1.75vw;
}

.stack-description-status {
    color: var(--color6);
    font-weight: bold;
    margin-bottom: -1px;
}

.stack-description h2 {
    color: var(--color6);
    text-decoration: underline;
    font-family: 'Prosto One';
    font-size: 1.5vw;
}

.stack-description h3 {
    color: var(--color1);
}

.stack-description-desc {
    text-align: center;
}

.stack-description ul {
    list-style-type: none;
}

.stack-description ul li {
    color: var(--color1);
    font-family: 'Prosto One';
}

.stack-description ul li i {
    color: var(--color6);
}

@media screen and (max-width: 767px) {
    #reverseRow {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 575px) {
    .stack-description h1 {
        font-size: 1.8rem;
    }

    .stack-description-icon {
    font-size: 2rem;
    }

    .stack-description-status {
        font-size: 1.2rem;
    }

    .stack-description h3 {
        font-size: 1.3rem;
    }

    .stack-description h2 {
        font-size: 1.2rem;
    }
}